@font-face {
   font-family: 'FontHomer';
   src: url('Homer_Simpson_Revised.ttf');
}
body {
    font-family: FontHomer;
    font-size: 20px;
    background-color: red;
}
p {
    font-size:2em;
    color: yellow;
    letter-spacing: 5px;
    text-shadow: 3px 3px 0 #fff;

}

    p::first-letter {
        font-size: 50px;
    }

    /*p::after {
        content:'<<--FIM-->'
    }*/

    p::selection {
            background-color:chartreuse;
    }
    p:nth-child(even) {
        background-color: chartreuse;
    }
    p:empty {
        content:'OCÓ'
    }
    p{
        --cor-bg-main: gray;
    }

        p:nth-child(1) {
            background-color: var(--cor-bg-main);
        }

        :root {
            background-color: black!important;
        }
:target {
    background-color: white !important;
   color: blue;
}


.degrade {
    height: 200px;
    width: 200px;
    background: linear-gradient(to left, gray, white);
}

.degradeGLBT {
    height: 200px;
    width: 200px;
    background: linear-gradient(to left, red, orange, yellow, green ,blue, purple);
}

.degradeOldScholl {
    height: 200px;
    width: 200px;
    background: radial-gradient(red, orange, yellow, green,blue, purple);
}
